.social-size {
    min-width: 50px;
    width: 170px;
    height: 170px;

    max-width: 170px;


}

.tk-button, .i-button {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;

	/* width: 100px;
	height: 100px; */
	background-color: #252525;

	border-radius: 50%;

	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
