<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProtectMee.xyz</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/simp.css') }}">
    <script src="{{ url_for('static',filename='script/index.js') }}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body data-bs-theme="dark" onload="checkarts()">
    <!-- Barra superiore -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-4 mb-4 ">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 px-4">ProtectMee.xyz</span>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#articoli" class="nav-link">Articoli</a></li>
            <li class="nav-item"><a href="/rss" class="nav-link">RSS</a></li>
          </ul>
        </header>
    </div>
    <!-- Avviso 
    <div class="alert alert-warning ms-5 me-5" role="alert">
        ⚠️ Pagina in fase di sviluppo 
    </div> -->
    <!-- Descrizione -->
    <div class="px-4 my-4 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Hai mai pensato alla tua cybersicurezza?</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">La cybersicurezza non è più un'opzione, ma una necessità. Ogni giorno, i tuoi dati sono esposti a minacce come hacker, malware e phishing. Proteggere le tue informazioni con password robuste, autenticazione a due fattori e una gestione attenta della privacy online è essenziale.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 link-offset-2 ">Scopri di più</button>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="https://www.impreseterritorio.org/static/upload/fot/0008/foto_cybersecurity.jpg" class="img-fluid border rounded-3 shadow-lg mb-4 mx-auto d-none d-md-block" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>

    <!-- Mostra cose -->
    <div class="container px-4 py-5" id="articoli">
        <h2 class="pb-2 border-bottom">Articoli</h2>
        <!-- Carta 1 -->
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" id="articoli_list">
        
        </div>
   
    </div>
  
    <div class="container px-4 py-5" id="social">
        <h2 class="pb-2 border-bottom mb-4 mx-auto d-none d-md-block">Social</h2>
        <!-- Carta 1 -->
        <div class="row row-cols-1 row-cols-lg-2 justify-content-md-center g-4 py-5" id="social_list">

          <div class="img-fluid social-size tk-button col-auto me-3" id="tk-button">
            <a href="https://tiktok.com/@protectmee.xyz">
              <svg width="64" height="64" viewBox="0 0 40 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.7347 7.144C29.9909 5.16704 29.0299 2.62816 29.0306 0H21.148V31.4133C21.0872 33.1133 20.3645 34.7234 19.1321 35.9048C17.8996 37.0861 16.2537 37.7464 14.5408 37.7467C10.9184 37.7467 7.90816 34.808 7.90816 31.16C7.90816 26.8027 12.1429 23.5347 16.5051 24.8773V16.872C7.70408 15.7067 0 22.496 0 31.16C0 39.596 7.04082 45.6 14.5153 45.6C22.5255 45.6 29.0306 39.14 29.0306 31.16V15.2253C32.227 17.505 36.0647 18.728 40 18.7213V10.8933C40 10.8933 35.2041 11.1213 31.7347 7.144Z" fill="#FF7A00"></path>
              </svg>		
            </a>			
          </div>

          <div class="img-fluid social-size i-button col-auto me-3" id="i-button">
            <a href="https://instagram.com/protectmee.xyz">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64">
                <path d="M 21.580078 7 C 13.541078 7 7 13.544938 7 21.585938 L 7 42.417969 C 7 50.457969 13.544938 57 21.585938 57 L 42.417969 57 C 50.457969 57 57 50.455062 57 42.414062 L 57 21.580078 C 57 13.541078 50.455062 7 42.414062 7 L 21.580078 7 z M 47 15 C 48.104 15 49 15.896 49 17 C 49 18.104 48.104 19 47 19 C 45.896 19 45 18.104 45 17 C 45 15.896 45.896 15 47 15 z M 32 19 C 39.17 19 45 24.83 45 32 C 45 39.17 39.169 45 32 45 C 24.83 45 19 39.169 19 32 C 19 24.831 24.83 19 32 19 z M 32 23 C 27.029 23 23 27.029 23 32 C 23 36.971 27.029 41 32 41 C 36.971 41 41 36.971 41 32 C 41 27.029 36.971 23 32 23 z" fill="#FF7A00"/>
              </svg>        
            </a>  
          </div>
          
        </div>
    </div>
  </div>

</body>